# Fonctions, classes & librairies

## Fonctions

In [1]:
# Fonction sans argument qui renvoie une chaîne de caractères 'Hello World"
# Ci dessous la définition de la fonction

def hello_world():
    return "Hello World"

In [2]:
# Ci-dessous l'appel de la fonction
hello_world()

'Hello World'

In [3]:
output = hello_world()
print(output)

Hello World

In [4]:
# Fonction qui retourne le produit de deux nombres
def multiply(a, b):
    product = a*b #product est une variable locale
    return product

In [5]:
output = multiply(8, 9)
print(output)

72

In [6]:
# On peut inclure des structure conditionnelles et/ou boucle dans une fonction
def multiply(a, b):
    if isinstance(a, (int, float)) and isinstance(b, (int, float)):
        product = a*b #product est une variable locale
        return product
    else:
        print("Produit pas faisable")
        # Absence de return <=> return l'objet None

In [7]:
output = multiply(8, "test")
print(output)

Produit pas faisable
None

In [8]:
def produit_liste(liste1):
    p = 1
    for item in liste1:
        p = p*item
    return p

def somme_produits(liste1, liste2):
    p1 = produit_liste(liste1)
    p2 = produit_liste(liste2)
    somme = p1 + p2
    return somme

somme_produits([1, 2], [3,4])

14

## Classes

In [9]:
class Ville():
    
    # Constructeur
    def __init__(self, name, lat, lon):
        self.name = name
        self.lat = lat
        self.lon = lon
        
    # Méthode
    def printName(self):
        print(self.name)

In [10]:
v = Ville("Nice", 42, 10)

In [11]:
v.printName()

Nice

In [12]:
class Bourgade(Ville):
    def __init__(self, name, lat, lon, nbr_habitants):
        super().__init__(name, lat, lon)
        self.nbr_habitants = nbr_habitants
  
    def printNbrHabitants(self):
        print(self.nbr_habitants)

In [13]:
bourgade = Bourgade("saint rémy", 44, 23, 20000)

In [14]:
bourgade.printName()

saint rémy

## Les librairies

In [15]:
import datetime
date = datetime.datetime.now()
print('Il est {0}'.format(date))

Il est 2019-05-22 07:22:05.575272

In [16]:
import pandas

In [17]:
article1 = {"Title":"Big Data", "Language":"French"}
article2 = {"Title":"Cloud Computing", "Language":"English"}
article3 = {"Title":"Comptabilidad", "Language":"Spanish"}
l = [article1, article2, article3]

In [18]:
df = pandas.DataFrame(l)
df.head()

  Language            Title
0   French         Big Data
1  English  Cloud Computing
2  Spanish    Comptabilidad